*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --bg: rgb(250, 250, 250);
    --main-color:#007bff;
    --icon-size: 3rem;
    --p-color:rgb(128, 128, 128);
    --dark-contact:rgb(26, 27, 31);
}
nav{
    
}
.navbar{
    display: flex;
    align-items: center;
}
.navbar div i{
    
}
.navbar div .items{
    display: none;
}
.navbar div .items ul{
    list-style: none;
}
.navbar div .items ul li{
    display: inline-block;
}
nav div a div ul li a{

}
.about{

}
.about div{ 
    
}
.about div div h2{
    font-size: 46px;
}
.about div div p{
    font-size: 16px;
    margin: 40px 60px;
    width: 70%;
}
.field{
    margin: 23px 22px;
    box-shadow: 2px 7px 14px 3px grey;
    
}
.field div{
    margin: 0px 0px;
    
    
}
.field div div{
    
    
}
.field div div h3{
    font-size: 20px;
    margin-top: 1rem;
    
}
.field div div i{
    font-size: 40px;
    margin-top: 6rem;
}
.field div div p{
    margin: 8px auto;
    width: 70%;
}
.Publication{
    background-color: var(--bg)
}
.Publication div div img{
    width: 100%;
    padding-top: 4rem;
}
.Publication div div h3{
    font-size: 20px;
    font-weight: 300;
    width: 99%;
    margin: 5px 0px;
}
.Publication div div p{
    margin: 15px 50px;
}
.Publication div{
    background-color: var(--bg);
}
.Publication div div{
    background-color: var(--bg);
    

}
.Publication div div div{
    text-align: center;
}
.Publication div div div div div i{
    font-size: 20px;
    color: var(--main-color);
}

.swiper{
    
    
}
.swiper .swiper-wrapper{
    
    
}
.swiper-wrapper .swiper-slide{
    
    
}
.swiper-slide .op{
    margin: 0px 75px;
    text-align: center;
    
}
.op p{
    
    
}
.swiper .prev i{
    font-size: 2.5rem;
    color: white;
    background-color: rgb(188, 183, 183);
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 12rem;
    
    
    margin: 0px 70px;
}
.swiper .next i{
    font-size: 2.5rem;
    color: white;
    background-color: rgb(188, 183, 183);
    padding: 12px;
    border-radius: 50%;
    position: absolute;
    z-index: 2;
    top: 12rem;
    margin: 0px 70px;
    right: 0;
}
.swiper .swiper-wrapper div{
    height: 30rem;
}

.watch{
    background-image: url('../images/background/promo-video-back.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    color: white;
    padding: 180px 77px;
}

.watch h2{
    font-size: 30px;
    font-weight: 300;
    line-height: 50px;
}
.watch p{
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
}
.watch i{
    display: flex;
    font-size: 4rem;
    margin: 49px 0px;
    justify-content: space-around;
    font-size: 6rem;
    color: var(--main-color);
}

.download div div div div{
    display: flex;
    width: 80%;
    align-items: center;
    font-size: 1.3rem;
}
.download div div div div p{
    margin: 7px 19px;

}
.download div div div div i{
    margin: 0px 29px;
}
.saquare{
    box-shadow: 0px 0px 20px 12px #a8a6a6;
    margin: 0px 57px;
}

.saquare p{
    margin: 25px 30px;
    padding: 30px 0px;
}

.contact{
    padding: 5rem 1px;
    background-color: var(--dark-contact);
}
.contact div div .fld{

}
.contact div div .fld img{
    margin: 30px 28px;
    width: 11rem;
    background-color: white;
    border-radius: 6px;
}
.contact div div .fld{
    
}
.contact div div .fld div{
    margin-left: 1rem;
}
.contact div div .fld div i{
    font-size: 2rem;
    margin: 0px 8px;
    padding: 3px 5px;
    border-radius: 50%;
    background-color: var(--bs-gray-400);
}
.contact div div .row div{
    margin: 50px 0px;
    padding: 0px 3rem;
}

@media(min-width:768px){
    .navbar div i{
        display: none;
    }
    .navbar div .items{
        display: block;
    }
    .navbar div .items ul{
        margin: 0px 0px;
    }
    
    .navbar div .items ul li{
        display: inline-block;
    }
    nav div a div ul li a{
    
    }
    .about{

    }
    .about div{ 
        
    }
    .about div div h2{
        
    }
    .about div div p{

    }
    .field div{
        
    }
    .field div div{
        
    }
    .field div div i{
        font-size: 40px;
    }
    .field div div p{
        
    }
    .Publication{

        padding: 70px 0px;
    }
    .Publication div div h3{
        text-align: start;
        text-decoration: wavy;
    }
    .Publication div div p{
        text-align: start;
        color: var(--p-color);
    }
    .Publication div div div div div h3{
        text-align: center;
    }
    .Publication div div div div div p{
        text-align: center;
    }
    .contact div div .row div{
        padding: 0px 8rem;
    }
    .contact{
        padding: 5rem 1px;
        background-color: var(--dark-contact);
    }
    .contact div div .fld{
    
    }
    .contact div div .fld img{
        margin: 30px 28px;
        width: 11rem;
        background-color: white;
        border-radius: 6px;
    }
    .contact div div .fld{
        
    }
    .contact div div .fld div{
        margin-left: 1rem;
    }
    .contact div div .fld div i{
        font-size: 2rem;
        margin: 0px 8px;
        padding: 3px 5px;
        border-radius: 50%;
        background-color: var(--bs-gray-400);
    }
    .contact div div .row div{
        margin: 50px 0px;
        padding: 0px 3rem;
    }

}
@media(min-width:992px){
    .field div{
        
    }
    .field div div{
        
    }
    .field div div i{
        
    }
    .field div div p{
        
    }
    .contact{
        padding: 5rem 1px;
        background-color: var(--dark-contact);
    }
    .contact div div .fld{
    
    }
    .contact div div .fld img{
        margin: 30px 28px;
        width: 11rem;
        background-color: white;
        border-radius: 6px;
    }
    .contact div div .fld{
        
    }
    .contact div div .fld div{
        margin-left: 1rem;
    }
    .contact div div .fld div i{
        font-size: 2rem;
        margin: 0px 8px;
        padding: 3px 5px;
        border-radius: 50%;
        background-color: var(--bs-gray-400);
    }
    .contact div div .row div{
        margin: 50px 0px;
        padding: 0px 3rem;
    }
}




























































@media(min-width:1200px){
    .navbar {
        background-color: #f4f4f4;
    }
    .navbar div i {
        margin: 0px 70px;
    }
    .navbar div .items ul{
        list-style: none;
    }
    .navbar div .items ul li{
        display: inline-block;
    }
    nav div a div ul li a{
    
    }
    .about{
        
    }
    .about div{
        padding: 60px 0px;
        margin-right: 0rem;
    }
    .about div div img {
        width: 19rem;
    }
    .about div div h2 {
        margin-left: 6rem;
    }
    .about div div p {
        margin: 40px 8rem;
        font-size: 16px;
    }

    .field{
        z-index: 2;
        width: 72rem;
        margin: -44px 3.8rem;
    }

    .Publication{
        margin: 100px 0px;
        width: 100%;
        padding: 4rem 9rem;
        background-color: var(--bg)
    }
    .Publication div div div div{
        

    }
    .Publication div div div div div{
        padding: 41px 17px;

    }
    .Publication div div div div div h3{
        font-size: 20px;
        font-weight: 400;

    }
    .Publication div div div div div p{
        font-size: 14px;
        margin: 6px 0px;
    }
    .Publication div div h3{
        font-size: 40px;
        margin: 60px 47px;
    }
    .Publication div div p{
        width: 100%;
        font-size: 17px;
    }
    .watch{
        width: 100%;
        padding: 206px 200px;
    }
    
    .watch h2{
        
    }
    .watch p {
        width: 34rem;
        margin: -38px auto;
    }
    .watch i{
        display: flex;
        font-size: 6rem;
        margin: 74px 0px;
        justify-content: space-around;
    }
    
    .download{
        width: 100%;
    
    }
    .download .dow_typ {
        width: 67rem;
        margin-left: 6rem;
    }
    .download div div div div{
        display: flex;
        width: 80%;
        align-items: center;
        font-size: 1.3rem;
    }
    .download div div div div p{
        margin: 7px 19px;
    
    }
    .download div div div div i{
        margin: 0px 29px;
    }
    .contact{
        width: 100%;
        background-color: var(--dark-contact);
    }
    .fld .social{
        font-size: 1.5rem;
    }
    .social i{
        background-color: rgb(52, 58, 64);
        padding: 10px;
        border-radius: 50%;
    }
    .contact .row{
        display: -webkit-box;
    }
    footer{
        background-color: rgb(52, 58, 64);
        color: white;
        text-align: center;
        padding: 22px 0px;
    }

    .navbar div i{
        display: none;
    }
    .navbar div .items{
        display: block;
    }
    .navbar div .items ul{
        margin: 0px 0px;
    }
    
    .navbar div .items ul li{
        display: inline-block;
    }
    .field{
        
    }
    .field div{
        
    }
    .field div div{
        
    }
    .field div div i{
        font-size: 40px;
    }
    .field div div p{
        
    }
    .contact{
        padding: 60px 3rem;
        width: 100%;
    }
    .contact div div .fld img{
        margin: 30px 28px;
        width: 11rem;
        background-color: white;
        border-radius: 6px;
    }
    .contact div div .fld{
        margin: 0px 55px;
        margin-bottom: 3rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact div div .fld div{
        margin-left: 1rem;
    }
    .contact div div .fld div i{
        font-size: 2rem;
        margin: 0px 8px;
        padding: 3px 5px;
        border-radius: 50%;
        background-color: var(--bs-gray-400);
    }
    .contact div div .row div{
        font-size: 25px;
        padding: 0px 6rem;
        margin: 0px -2px;
    }
}






